.explore1 {
  position: relative;
  display: flex;
  min-width: 30;
  width: auto;
  align-self: unset;
  height: auto;
}
.explore1:hover {
  font-family: var(--font-syne);
  font-size: var(--font-size-4xs);
  text-align: left;
  color: var(--color-gray-400);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  min-width: 30;
}
.line-explore-all {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-25xl) 0px 0px;
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-4xs);
  color: var(--color-gray-400);
  font-family: var(--font-syne);
}
.line-explore-all:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-25xl) 0px 0px;
  box-sizing: border-box;
}
